.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    max-height: 250px;
}
.header img {
    height: 100%;
}

/*Responsive*/

@media screen and (max-width: 426px) {
    .header {
        height: 20vh;
    }
}