.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 40px;
    align-items: start;
    justify-items: center;
    min-height: 400px;
    height: 65vh;
    overflow: hidden;
    grid-template-areas: "banner mainText"
                         "mainAfter mainAfter";
}
.main::after {
    box-sizing: border-box;
    content: '';
    border-top: 40px solid var(--main-color);
    border-right: var(--screenUser) solid transparent;
    width: 100%;
    z-index: 1;
    position: relative;
    top: -1px;
    grid-area: mainAfter;
}
.main img {
    height: 350px;
    grid-area: banner;
}

.mainText h1 {
    font-size: 2.5rem;
}
.mainText h1, .mainText span {
    color: var(--second-color);
}
.mainText p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.mainText {
    width: 80%;
    height: 80%;
    grid-area: mainText;
}
.mainText a {
    border: 3px solid var(--second-color);
    color: var(--second-color);
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 10px;
    text-decoration: none;
    white-space: nowrap;
}
.mainText a:hover {
    animation: parpadeo 1s linear infinite alternate;
}

@keyframes parpadeo {
    0% {
        color: var(--second-color);
    }
    60%{
        color: var(--main-font-color);
    }
    100% {
        opacity: .5;
        color: var(--main-font-color);
    }
}

/* Responsive */

@media screen and (max-width: 1025px) {
    .mainText a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 769px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 40px;
        grid-template-areas: "banner"
                             "mainText"
                             "mainAfter";
        height: 70vh;
    }
}

@media screen and (max-width: 426px) {
    .main {
        height: 800px;
        grid-template-rows: 300px 1fr 40px;
    }
    .main img {
        width: 100%;
        height: 300px;
    }
    .mainText a {
        font-size: .9rem;
    }
}
@media screen and (max-width: 361px) {
    html {
        font-size: 13px;
    }
    .main {
        height: 700px;
    }
}